* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-container {
    background-color: #000;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 40px 9vw;
}


.left-home {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-home-top {
    height: 60.5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profile-weather {
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-notes {
    height: 100%;
    width: 40%;
    border-radius: 1.1875rem;
    background: #F1C75B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-home-bottom {
    height: 35%;
    width: 100%;
    background-color: antiquewhite;
}

.right-home {
    width: 30%;
    height: 100%;
}