* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-main {
    height: 58%;
    border-radius: 2.08925rem;
    background-color: #5746EA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.profile-img {
    height: 90%;
    width: 30%;
}

.profile-img img {
    height: 100%;
    width: 100%;
}

.form-genre {
    height: 80%;
    width: 63%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-data {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-data p {
    color: #FFF;
    font-family: Roboto;
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.07rem;
}

.form-data p:nth-child(3) {
    font-size: 2.4vw;
    font-weight: 800;
}

.genre-data {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 40%;
    width: 100%;
    padding: 3px;
}

.genre-data span {
    border-radius: 1.3125rem;
    background-color: #9F94FF;
    width: 40%;
    height: 45%;
    display: flex;
    justify-content: flex-start;
    padding-left: 1vw;
    align-items: center;
    margin-right: 1vw;
    margin-bottom: 1vh;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 7px #9F94FF; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #9F94FF; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #aca5e4; 
  }

